nav, .hero, .information, .quote, .sign-up, .footer {
    padding: 0px 256px;
}

body {
    background-color: #1f2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f9faf8;
    margin: 0;
}

p {
    font-size: 18px;
}
img {
    width: 600px;
    height: 300px;
}

nav {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    gap: 16px;
    margin: 128px 0px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color:#f9faf8 ;
    font-size: 18px;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

.information {
    background-color: #f9faf8;
    color: #1f2937;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 54px 0px;
    margin: 0;
}

.slot {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 100px;
}

.content {
    width: 175px;
}
 .content p {
    text-align: center;
 }
.content img {
    width: 175px;
    height: auto;
    border: 6px solid #3882f6;
    border-radius: 16px;
}